.box {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.button {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}


.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #9b55a0;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

/*Responsive design
*/
@media only screen and (max-width: 500px) {


    img { 
       width: 60%;
       height: 60%;

    }

    .projWrap{
      margin-left:auto;
    }

    .videoWrap{
    position: relative;
    padding-bottom: 30%; 
    padding-top: 25px;
    height: 0;
    }

    .videoWrap iframe{
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    }

    a img{
      width: 20%;
      height: 20%;
    }

    h2 {
      font-size: 20px;
      font-size: 2vw;
    }

    p {
    font-size: 16px; 
    font-size: 2vw;
    }

    li {
      font-size: 20px;
      font-size: 2vw;
    }


}


img{
	display: block;
	margin-left: auto;
	margin-right: auto; 
}

ul{
	float:right;
}
li{
	
	display:inline;

}


body{
	letter-spacing: 2px;
	overflow-x: hidden;
	background-image: url("brickwall.png");
	font-family:sans-serif,Helvetica;

}

p{
	margin-left:auto;
	margin-right:auto;
	width:30em;
}
/*
.inner{

  max-height:50%;
  overflow-y:auto;
  border: 2px solid blue;

}
*/
.projWrap{
 height:600px;
 width:600px;
margin-left:auto;
margin-right:auto;
overflow:auto;
}

#footer{
	
	/*padding-bottom:10px;
	position:absolute;
	bottom:0;
	height:30px;*/
	width:100%;
	text-align:center;
    /*background-attachment: scroll;*/
    background-position: 0% 0%;
	position: relative;
	bottom: 0pt;
	left: 0pt;
	
	
}

a:link {
    color: black;
	  text-decoration:none;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #9A9A9A;
}

/* selected link */
a:active {
    color: black;
}


