body{
	overflow-y:scroll;
}



#footer{
	
	padding-bottom:10px;
	/*position:absolute;
	bottom:0;*/
	height:20px;
	width:100%;
	text-align:center;
    background-attachment: scroll;
    background-position: 0% 0%;
	position: relative;
	bottom: 0pt;
	left: 0pt;
	
	

}